<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type = "text/javascript" src = "/static/js/daumAddressScript.js"></script>
<script src = "https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type = "text/javascript" src = "/static/js/check.js"></script>
</head>
<body>
직원등록 페이지 입니다.<br />
<form action = "employeeWrite" method ="post" th:object = "${employeeCommand}"><br />
직원 번호 : <input type = "text" name = "empNum" th:value ="${employeeCommand.empNum}" readonly = "readonly"/><br />
직원 아이디 : <input type = "text" name = "empId" id ="userId" th:value="${employeeCommand.empId}"/>
		<span id ="idCheck"></span>
		<span style ="color:red" th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}"></span><br />
직원 비밀번호 : <input type = "password" name = "empPw" th:value="${employeeCommand.empPw}"/>
		<span style ="color:red" th:if="${#fields.hasErrors('empPw')}" th:errors="*{empPw}"></span><br />
비밀번호 확인 : <input type = "password" name = "empPwCon" th:value="${employeeCommand.empPwCon}"/>
		<span style ="color:red" th:if="${#fields.hasErrors('empPwCon')}" th:errors="*{empPwCon}"></span><br />
직원 이름 : <input type = "text" name = "empName" th:value="${employeeCommand.empName}"/>
		<span style ="color:red" th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"></span><br />
주소 : <input type = "text" name = "empAddr" id = "sample4_roadAddress" th:value="${employeeCommand.empAddr}"/><button type = "button" onclick="execDaumPostcode();" >우편번호확인</button>
		<span style ="color:red" th:if="${#fields.hasErrors('empAddr')}" th:errors="*{empAddr}"></span><br />
상세 주소 : <input type = "text" name = "empAddrDetail" th:value="${employeeCommand.empAddrDetail}"/><br />
우편번호 : <input type = "text" name = "empPost" id = "sample4_postcode" th:value="${employeeCommand.empPost}"/><br />
직원 연락처 : <input type = "tel" name = "empPhone" th:value="${employeeCommand.empPhone}"/>
		<span style ="color:red" th:if="${#fields.hasErrors('empPhone')}" th:errors="*{empPhone}"></span><br />
직원 주민등록번호 : <input type = "text" name = "empJumin" th:value="${employeeCommand.empJumin}"/><br />
직원 이메일 : <input type = "email" name = "empEmail" id = "userEmail" th:value="${employeeCommand.empEmail}"/>
		<span id = "emailCheck"></span>
		<span style ="color:red" th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}"></span><br />
직원 고용일 : <input type = "date" name = "empHireDate" th:value="${#dates.format(employeeCommand.empHireDate, 'yyyy-MM-dd')}"/><br />
<input type = "submit" value = "직원등록" /><br />
</form>
</body>
</html>